body{
    background-color: grey;
}


div{
    text-align: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 7.5em;
    margin: 0.4em;
    font-size: 7.5em;
    color: whitesmoke;
}

button{
    width: 3.5em;
    height: 3.5em;
    font-size: 0.5em;
    border: none; 
    border-radius: 0.8em;
    margin: 0.2em;
    margin-top: 0.1em;
    font-size: xx-large;
    justify-content: center;
}

button:hover{
    cursor:pointer;
}

.botaoInicio{
    background-color: lime;
}

.botaoPausa{
    background-color: yellow;
}

.botaoFinalizar{
    background-color: red;
}